
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/v17/.suo
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/FileContentIndex/read.lock
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/FileContentIndex/ea7dc01f-59ec-4ce3-83a2-ccbc36da1a0d.vsidx
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/FileContentIndex/da72904b-f983-4d0f-ad26-c7d25139231b.vsidx
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/FileContentIndex/68b5de74-26ef-4b98-a09a-693020573226.vsidx
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/FileContentIndex/184a2879-63cd-4f3f-adf0-150215ffd1cc.vsidx
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/DesignTimeBuild/.dtbcache.v2
Using http or rest files in Visual Studio 2022/WebAPITestingSol/.vs/WebAPITestingSol/config/applicationhost.config
Using http or rest files in Visual Studio 2022/WebAPITestingSol/.vs/WebAPITestingSol/FileContentIndex/88129491-7a79-4533-8e05-7d5b7ee2c784.vsidx
Using http or rest files in Visual Studio 2022/WebAPITestingSol/.vs/WebAPITestingSol/FileContentIndex/fd1227e7-4cee-4860-b20e-9da36611f236.vsidx
Using http or rest files in Visual Studio 2022/WebAPITestingSol/.vs/WebAPITestingSol/FileContentIndex/fd36bf09-0642-4258-b8d2-f8924956ea67.vsidx
Using http or rest files in Visual Studio 2022/WebAPITestingSol/.vs/WebAPITestingSol/FileContentIndex/read.lock
Using http or rest files in Visual Studio 2022/WebAPITestingSol/.vs/WebAPITestingSol/v17/.suo
