
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/v17/.suo
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/FileContentIndex/read.lock
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/FileContentIndex/ea7dc01f-59ec-4ce3-83a2-ccbc36da1a0d.vsidx
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/FileContentIndex/da72904b-f983-4d0f-ad26-c7d25139231b.vsidx
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/FileContentIndex/68b5de74-26ef-4b98-a09a-693020573226.vsidx
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/FileContentIndex/184a2879-63cd-4f3f-adf0-150215ffd1cc.vsidx
Run Parallel Tasks and Collect Results/ParallelTasksAndResultsSol/.vs/ParallelTasksAndResultsSol/DesignTimeBuild/.dtbcache.v2
